In [8]:
import redis
redis_conn = redis.Redis.from_url('rediss://red-cmjj747qd2ns73bijdd0:AtyYB3shymukhRHrAyueSNSWVxfNPgb7@singapore-redis.render.com:6379')

In [9]:
#list 和 dictionary 何在一起使用
#在redis雲端資料庫 建立 key 和 value

id = 'stu01'
name = "許OO"
chinese = 98
english = 100
math = 95

redis_conn.rpush('classA:stu',id)                           #list
redis_conn.hset('classA:name',mapping={id:name})            #hash
redis_conn.hset('classA:chinese',mapping={id:chinese})      #hash
redis_conn.hset('classA:english',mapping={id:english})      #hash
redis_conn.hset('classA:math',mapping={id:math})            #hash

0

In [10]:
id = 'stu02'
name = "林OO"
chinese = 86
english = 100
math = 97

redis_conn.rpush('classA:stu',id)                           #list
redis_conn.hset('classA:name',mapping={id:name})            #hash
redis_conn.hset('classA:chinese',mapping={id:chinese})      #hash
redis_conn.hset('classA:english',mapping={id:english})      #hash
redis_conn.hset('classA:math',mapping={id:math})            #hash

0

In [11]:
id = 'stu03'
name = "賴OO"
chinese = 90
english = 95
math = 83

redis_conn.rpush('classA:stu',id)                           #list
redis_conn.hset('classA:name',mapping={id:name})            #hash
redis_conn.hset('classA:chinese',mapping={id:chinese})      #hash
redis_conn.hset('classA:english',mapping={id:english})      #hash
redis_conn.hset('classA:math',mapping={id:math})            #hash

0

In [12]:
#把原本的list 做成 for in 迴圈, 去變成新的list
#取前2個學生資料

id_list = [item.decode() for item in redis_conn.lrange('classA:stu',0,1)]
id_list

['stu01', 'stu02']

In [13]:
for id in id_list:
    name = redis_conn.hget('classA:name',id).decode()
    chinese = redis_conn.hget('classA:chinese',id).decode()
    english = redis_conn.hget('classA:english',id).decode()
    math = redis_conn.hget('classA:math',id).decode()
    print(name,chinese,english,math)
    print("=============")

許OO 98 100 95
=============
林OO 86 100 97
=============

In [14]:
#把原本的list 做成 for in 迴圈, 去變成新的list
#取後2個學生資料

id_list = [item.decode() for item in redis_conn.lrange('classA:stu',-2,-1)]
id_list

['stu02', 'stu03']

In [15]:
for id in id_list:
    name = redis_conn.hget('classA:name',id).decode()
    chinese = redis_conn.hget('classA:chinese',id).decode()
    english = redis_conn.hget('classA:english',id).decode()
    math = redis_conn.hget('classA:math',id).decode()
    print(name,chinese,english,math)
    print("=============")

林OO 86 100 97
=============
賴OO 90 95 83
=============